* {
  box-sizing: border-box;
}

body {
  background-color: hsla(88, 50%, 53%, 0.24);
  color: hsla(88, 50%, 25%, 1);
  margin: 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

hr {
  height: 1px;
  border: none;
  margin: 40px 0;
  background-color: hsla(114, 91%, 18%, 0.48);
}

.heading {
  color: hsla(88, 50%, 25%, 1);
}

.navbar {
  background-color: hsla(88, 50%, 33%, 1);
  color: #fff;
  padding: 10px 20px;
  transition: margin-top .3s ease-in;
}

.navbar.has-banner {
  margin-top: 26px;
}

.banner-error {
  animation: animBanner .3s ease-in;
  background-color: #ff3d00;
  left: 0;
  padding: 0 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.banner-error span {
  font-size: 1.5em;
  position: absolute;
  right: 10px;
  top: -.15em;
}

.banner-error span:hover {
  cursor: pointer;
  opacity: .8;
}

@keyframes animBanner {
  0% {
    height: 0;
    font-size: 0em;
  }
  100% {
    height: 28px;
    font-size: 1em;
  }
}

.app-name {
  font-weight: bold;
  font-size: 1.5em;
}

.navbar a {
  background-color: #fff;
  border-radius: 7px;
  border: 1px #DDD solid;
  color: hsla(88, 50%, 33%, 1);
  float: right;
  margin-top: -4px;
  padding: 0.5rem 1rem;
  transition: background-color .2s ease-in, color .2s ease-in;
}

.navbar a:hover {
  background-color: hsla(88, 50%, 43%, 1);
  color: #fff;
  cursor: pointer;
}

.container {
  padding: 20px;
}

.navbar-options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-options li {
  background-color: #fff;
  color: hsla(88, 50%, 33%, 1);
  display: inline-block;
  font-weight: bold;
  padding: 5px 15px;
  font-size: 1.5em;
  text-align: center;
}

.navbar-options li.active {
  background-color: hsla(88, 50%, 33%, 1);
  color: #fff;
}

.navbar-options li:not(.active):hover {
  background-color: hsla(88, 50%, 33%, .5);
  color: #fff;
  cursor: pointer;
}

code {
  border-radius: 3px;
  font-family: Menlo, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", Courier, monospace;
  font-size: 0.9em;
  padding: 0.2em 0.5em;
  margin: 0 0.1em;
  color: hsla(88, 50%, 23%, 1);
}

.box {
  margin-top: 15px;
}

.navbar-options,
.best-bud,
.box-container,
.github-account {
  display: flex;
  justify-content: center;
  align-items: center;
}

.best-bud,
.box-container,
.github-account {
  flex-direction: column;
}

.github-stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

.github-avatar img {
  border-radius: 3px;
  border: 1px solid #aaa;
}

.github-stat,
.box,
.navbar-options li {
  max-width: 30%;
  min-width: 30%;
}

.github-stat,
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
  background: #fff;
  padding: 10px;
  border: 1px solid #aaa;
  margin: 5px;
}

.github-stat .github-stat-name {
  font-weight: bold;
}

.github-stat:nth-of-type(1) {
  animation-delay: .1s
}

.github-stat:nth-of-type(2) {
  animation-delay: .3s
}

.github-stat:nth-of-type(3) {
  animation-delay: .7s
}

.github-stat:nth-of-type(4) {
  animation-delay: 1s
}

@media (max-width: 768px) {
  .box {
    max-width: 100%;
    min-width: 100%;
  }
  .navbar-options li {
    max-width: calc(50% - 5px);
    min-width: calc(50% - 5px);
  }
}
