<h2>Ember Advanced Examples</h2>
<p>
  <h3>Your Coordinates</h3>
  <p>
    <span><strong>latitude</strong> <code>{{lat}}</code></span>
    <span><strong>longitude</strong> <code>{{lng}}</code></span>
  </p>
  <hr />
  <img src="/assets/images/builtwith.png" />
</p>