<div class="best-bud animated flipInX">
  <h3 class="heading">
    Here's a picture of my best bud
  </h3>
  <img src="/assets/images/nejo.jpg" width="125" height="225" />
</div>
<div class="box-container">
  <div class="box animated bounceInLeft">
    <h3 class="heading">Your Coordinates</h3>
    <div>
      <strong>latitude</strong> {{data-box data=lat}}
    </div>
    <div>
      <strong>longitude</strong> {{data-box data=lng}}
    </div>
  </div>
  <div class="box animated bounceInRight">
    <h3 class="heading">Your Headers</h3>
    <div>
      <strong>Host</strong> {{data-box data=host}}
    </div>
    <div>
      <strong>UserAgent</strong> {{data-box data=userAgent}}
    </div>
  </div>
</div>